# -----------------------------
# Environments & Secrets
# -----------------------------
venv/
.env
*.json
service_account.json

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Logs
# -----------------------------
*.log
logs/

# -----------------------------
# dbt (Data Build Tool)
# -----------------------------
target/
dbt_packages/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store

**/.terraform/*
*.tfstate
*.tfstate.*